.App {
    text-align: center;
    /* Center text horizontally */
    display: flex;
    /* Enable flexbox */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    height: 100vh;
    /* Full height of the viewport */
    background-color: #fff;
    /* Background color */
    color: #333;
    /* Text color */
    font-family: Arial, sans-serif;
    /* Font family */
}

.App-header {
    width: 100%;
    /* Full width */
    max-width: 600px;
    /* Maximum width of the content */
    margin: auto;
    /* Center the header horizontally */
    padding: 20px;
    text-align: center;
    /* Ensure text is centered within the header */
    border: 1px solid #e7e7e7;
    /* Subtle border */
    border-radius: 5px;
    /* Rounded corners */
    background-color: #f8f8f8;
    /* Light gray background */
}

.App-link {
    display: inline-block;
    /* Make the button inline */
    padding: 10px 20px;
    /* Padding inside the button */
    margin-top: 20px;
    /* Space above the button */
    background-color: #6200ea;
    /* Button color */
    color: #fff;
    /* Text color in the button */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners for the button */
    cursor: pointer;
    /* Pointer cursor on hover */
    text-decoration: none;
    /* No underline */
}

.payment-details {
    background-color: #fafafa;
    /* Very light gray background */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}